.work{
    background: burlywood;
}

.img{
    background: blueviolet;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBlock{
    text-align: left;
    padding-left:20px;
}

@media (max-width: 500px) {
    .img{
        width: 300px;
        height: 300px;
    }
}
